html{
    background-color: grey;
}
#main_container{
    position: fixed;
    top:30%;
    left: 40%;
    padding: 22px;
    border: 3px solid #2a508b;
    border-radius: 25px;
    background-color: #77c3ce;
}
#inner_container{
    background-color:#2a508b;
    border: 4px solid #2a508b;
    border-radius: 5%;

}
#screen{
    float: left;
    position: relative;
    width: 240px;
    height: 40px;
    background-color: #68bdab;
    box-shadow: 4px 4px rgba(217, 60, 255, 0.1);
    border-radius: 5px;
    margin: 25px 25px 25px 25px;
    text-align:right;
    font-size: 30px;
}
#button_container span{
    float: left;
    position: relative;
    cursor: pointer;
    width: 55px;
    height: 30px;
    background: #e1e1e1;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    margin: 0 5px 10px 0;
    color: #0791dd;
    line-height: 30px;
    text-align: center;
    left: 20px;
}
#equals{
    float: left;
    position: relative;
    cursor: pointer;
    width: 120px;
    height: 30px;
    background: #e1e1e1;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    margin: 0 5px 10px 0;
    color: #0791dd;
    line-height: 30px;
    text-align: center;
    left: 20px;
}
#expand{
    position:relative;
    left: 58px;
}
#shorten{
    position:relative;
    left: 58px;
    display: none;
}
#button_container{
    background-color:#2a508b;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;

}
#button_container span:hover{
    background: #b6b6b6;
}
#equals:hover{
    background: #b6b6b6;
}
#button_container span:active{
    top: 5px;
    box-shadow: 0 0 rgba(0, 0, 0, 0.1);
    background: #e3e88f;
}
#equals:active{
    top:5px;
    box-shadow: 0 0 rgba(0, 0, 0, 0.1);
    background: #e3e88f;
}

#extras {
    display: none;
}
#breakLine{
    height: 1px;
    width: 230px;
    border-bottom: 3px solid greenyellow;
    left: 25px;
    margin-bottom: 10px;
    position: relative;
    display:none;
}